.header {
  position: fixed;
  width: 100%;
  height: 64px;
  padding: 8px 11px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  z-index: 1;
  user-select: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu:hover {
  background-color: #f4f4f4;
}

@media (max-width: 600px) {
  .menu:hover {
    background-color: transparent;
  }
}

.menu svg {
  font-size: 21px;
  color: #202124;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  position: relative;
  margin-left: 5px;
}

.logo h1 {
  display: flex;
  font-size: 19px;
  color: #202124;
  margin-left: 5px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.nav {
  position: fixed;
  bottom: 0;
  padding-top: 8px;
  box-sizing: border-box;
  flex: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 64px);
  background-color: #ffffff;
  z-index: 3;
  border-right: 1px solid #eaeaea;
  user-select: none;
  transition: all .02s ease-in-out;
}

.closedNav {
  width: 72px;
}

.openNav {
  width: 280px;
  border-right: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.closedNav button {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 0;
  background-color: #ffffff;
  color: #202124;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openNav button {
  padding-left: 26px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border-radius: 0 25px 25px 0;
  border: 0;
  background-color: #ffffff;
  color: #202124;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav button:focus {
  outline: 0 !important;
}

.nav button.active {
  background-color: #feefc3;
}

.nav button.active:hover {
  background-color: #feefc3;
}

.nav button:hover {
  background-color: #f4f4f4;
}

.nav button svg {
  font-size: 21px;
}

.closedNav button h1 {
  display: none;
}

.openNav button h1 {
  margin-left: 33px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #202124;
  font-weight: 500;
}

@media (max-width: 600px) {
  .nav {
    transition: all .3s ease-in-out;
  }

  .closedNav {
    left: -100% !important;
    width: 0px !important;
  }

  .openNav {
    left: 0 !important;
    width: 100%;
  }

  .nav button {
    padding-left: 26px;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-radius: 0 25px 25px 0;
    border: 0;
    background-color: #ffffff;
    color: #202124;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .nav button:focus {
    outline: 0 !important;
  }

  .nav button.active {
    background-color: #feefc3;
  }

  .nav button.active:hover {
    background-color: #feefc3;
  }

  .nav button:hover {
    background-color: transparent;
  }

  .nav button svg {
    font-size: 21px;
  }

  .nav button h1 {
    margin-left: 33px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #202124;
    font-weight: 500;
  }
}

.toAdd {
  position: fixed;
  bottom: 30px;
  right: 30px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #fbbc05;
  color: #202124;
  border: none;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-size: 35px;
  cursor: pointer;
  z-index: 2;
  user-select: none;
  outline: 0 !important;
}

.grid {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  transition: all .02s ease-in-out;
  height: calc(100% - 64px);
  box-sizing: border-box;
  padding-top: 74px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 100%;
  min-height: 100vh;
}

.notice {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  color: #202124;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.deleteWarning {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  color: #202124;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 800px) {
  .deleteWarning {
    flex-direction: column;
    user-select: none;
  }
}

.deleteWarning p {
  margin: 0;
}

.deleteWarning span {
  color: #1a73e8;
  cursor: pointer;
}

.closedGrid {
  padding-left: 92px;
}

.openGrid {
  padding-left: 300px;
}

@media (max-width: 600px) {
  .grid {
    padding-left: 20px;
  }
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: center;
}

.my-masonry-grid_column {
  background-clip: padding-box;
  width: 255px !important;
}

.my-masonry-grid_column>div {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  width: 200px !important;
}

.my-masonry-grid p {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #202124;
  font-weight: 500;
  height: calc(100% - 64px);
}

.note h3 {
  display: block;
  text-align: start;
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
}

.note p {
  text-align: start;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-family: 'Poppins', sans-serif;
}

.note div {
  display: flex;
  justify-content: center;
}

.note div button {
  margin: 10px;
  border: none;
  color: #202124;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100%;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note div button:focus {
  outline: 0 !important;
}

.note div button:hover {
  background-color: #f4f4f4;
}

.note div button svg {
  font-size: 18px;
}

.modalOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
  max-width: 100%;
  position: relative;
}

@media (max-width: 630px) {
  .modalContent {
    width: 80%;
  }
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modalHeader h2 {
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

.closeModal {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  background-color: transparent;
  border: none;
  color: #202124;
  cursor: pointer;
  font-size: 28px;
}

.modalContent form div label {
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

.modalActions {
  width: 100%;
  display: flex;
  justify-content: center;
  user-select: none;
}

.modalActions button {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #fbbc05;
  color: #202124;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para os campos de texto */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

textarea {
  height: 150px;
  resize: none;
  overflow-y: auto;
}

textarea::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;
}
